@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Customizations */
body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #fffaf0; /* Soft ivory */
    color: #3a403d; /* Earthy gray-green */
}

h1, h2, h3 {
    color: #6a994e; /* Nature green */
}

a {
    color: #b28451; /* Warm terracotta */
    text-decoration: underline;
}

a:hover {
    color: #4f7942; /* Deeper green */
}
